{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "Tests": "./test",
        "Sources": "./src",
        "Styles": "./src/styles"
      }
    }]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
